{{#partial "content"}}

    <li class="card">
        <h3 class="card-title" id="hero">Sup Name:{{hero.name}}</h3>
        <p id="hero-text">Age:{{hero.age}}</p>
        <p id="hero-text">Special Ability:{{hero.specialAbility}}</p>
        <p id="hero-text">Weakness:{{hero.weakness}}</p>
        <p id="hero-text">Ability/ies:{{hero.ability}}</p>
        <a href="/squads/{{hero.squadId}}" class="btn btn-success">{{squad.name}} squad</a>
    </li>
{{/partial}}

{{> layout.hbs}}